/* test
white#ffffff
black#000
*/
body{/*background-colour;red;*/
color: red;

}

p{font-family: 'Balsamiq Sans', cursive;
font-family: 'Merriweather Sans', sans-serif;

}
#wrapper{
margin: auto;	
width: 90%
}
.header{
	padding:20px;
	background-color: #B2F3EE;
	
}
h1{ color:black;
	 text-align: left;
}
li> a { color: orange;
}
.teal{ color:teal;
}
td,th{
	border:2px solid black;
	padding: 50px
	border-color: red;
}
 